.cutter_handler_container {
    position: relative;
    width: 100%;
    height: 100%;
    .title {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
    }
    .display_container {
        padding: 10px;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        overflow: auto;
        .sel {
            width: 350px;
            height: 200px;
            display: flex;
            justify-content: center;
            transition: box-shadow .2s ease-in-out;
            &:hover {
                box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
            }
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .display_button_box {
        display: flex;
        justify-content: center;
        padding: 30px 0;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        div {
            width: 32px;
            height: 32px;
            border-radius: 100%;
            position: relative;
            opacity: 0.4;
            box-shadow: transparent;
            &:first-child {
                margin-right: 20px;
            }
            &:hover {
                opacity: 1;
                box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
            }
            img {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }
}
